*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: block;
    font-family: 'Poppins', sans-serif;

}

.container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.navbar{ 
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block; 
    margin-right: 20px;
}
a{
    text-decoration: none; 
    color: #555;
}
p{
    color: #555;
}

.container .title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container form input{
    display: none;
}

.container form .category{
    margin-top: 10px;
    padding-top: 20px;
}

.category label{
    width: 100%;
    height: 55px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

label:nth-child(2), label:nth-child(3){
    margin: 15px 0;
}


#visa:checked ~ .category .visaMethod,
#RG:checked ~ .category .RGMethod,
#paypal:checked ~ .category .paypalMethod{
    box-shadow: 0px 0px 0px 1px #28a745;
}

#mastercard:checked ~ .category .mastercardMethod,
#AMEX:checked ~ .category .amexMethod{
    box-shadow: 0px 0px 0px 1px #7f817f;
}


#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#RG:checked ~ .category .RGMethod,
#paypal:checked ~ .category .paypalMethod .check,
#AMEX:checked ~ .category .amexMethod .check{
    display: block;
}


label .imgName{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label .imgName1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgName span{
    margin-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
.imgName1 span{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #cfcaca;
}

.imgName .imgContainer{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 125px;
    height: auto;
}

img{
    width: 30px;
    height: auto;
}
.mastercard img{
    width: 100px;
    margin-left: 30 px;
}
.Mada img{
    width: 90px;
    margin-left: 30 px;
}
.visa img{
    width: 100px;
    margin-left: 40px;
}
.RG img{
    width: 100px;
    margin-left: 40px;
}
.brands img{
    margin-left: -60px;
}

.paypal img{
    width: 100px;
    margin-left: 40px;
}
.Binance img{
    width: 90px;
    margin-left: 40px;
}

.AMEX img{
    width: 45px;
    margin-left: 20px;
}

.check{
    display: none;
}
.Promo{
    font-size: 16px;
    color: #28a745;
}

.Dpromo{
    font-size: 16px;
    color: #595a59;
}


.check i{
    font-size: 18px;
}
.title{
    text-align: center;
    position: relative; 
    line-height: 60px;
    margin: 0 auto 80px; 
    color: #555;
}
.title::after{
    content: '';
    background: #454647;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
} 

/* end featured  */
.blog .box-container{
    max-width: 600px; 
    margin: auto; 
    padding-left: 15px; 
    padding-right: 5px;
}
.blog .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
}
.blog .box-container .box img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width: 7rem;
    margin: 1rem 0;
    border: 4px solid #ddd;
}
.blog .box-container .box img:hover{
   transform: scale(1.2);
}
.blog .box-container .box h3{
    font-size: 1.5rem;
    color: #000;
}
.blog .box-container .box p{
    font-size: .9rem;
    color: #666;
    padding: 1rem 0;
}
.blog .box-container .box .stars i{
    color: orangered;
    font-size: 1.5rem;
}

.before{
  text-decoration: line-through;
}

.fa-solid, .fas {
  font-weight: 900;
}
.fa-2xl {
  font-size: 9.8em;
  line-height: .03125em;
  vertical-align: -0.1875em;
}
/*-----------brands-----------*/

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
    margin-left: 60px;
}
.col-5 img{ 
    width: 180%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
.brands{
    margin: 100px auto;
    max-width: 1080px;

    padding-left: 25px;
    padding-right: 25px;
}
.col-6{
    width: 160px;
}
.col-6 img{ 
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-6 img:hover{
    filter: grayscale(0);
}

/* end featured  */
.blog .box-container{
    max-width: 600px; 
    margin: auto; 
    padding-left: 15px; 
    padding-right: 5px;
}
.blog .box-container .box{
    flex: 1 1 30rem;
    text-align: center;
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background: #f9f9f9;
    padding: 2rem;
}
.blog .box-container .box img{
    border-radius: 50%;
    object-fit: cover;
    height: 7rem;
    width: 7rem;
    margin: 1rem 0;
    border: 4px solid #ddd;
}
.blog .box-container .box img:hover{
   transform: scale(1.2);
}
.blog .box-container .box h3{
    font-size: 1.5rem;
    color: #000;
}
.blog .box-container .box p{
    font-size: .9rem;
    color: #666;
    padding: 1rem 0;
}
.blog .box-container .box .stars i{
    color: orangered;
    font-size: 1.5rem;
}

/*------------ footer ----------- */

.footer{
    background: rgb(67, 176, 0); 
    color: #000; 
    font-size: 14px; 
    padding: 60px 0 20px;
}
.footer p{ 
    color: #000;
}
.footer h3{
    color: #fff; 
    margin-bottom: 20px;
}
    
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{ 
    min-width: 250px; 
    margin-bottom: 20px;
}    
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{ 
    width: 180px; 
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}            
ul{
    list-style-type: none;
}
.app-logo{ 
    margin-top: 20px;
}
.app-logo img{ 
    width: 140px;
}
.footer hr{
    border: none;
    background: #fff;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}

/*------------ media query for menu -----------*/
@media only screen and (max-width: 800px) {

    nav ul{
            position: absolute;
            top: 70px;
            left: 0;
            background: #333;
            width: 100%;
            margin: hidden;
            overflow: hidden;
            transition: max-height 0.5s;
    }    
    nav ul li{
        display: block;    
        margin-right: 50px;   
        margin-top: 10px;    
        margin-bottom: 10px;   
    }    
    nav ul li a{ 
        color: #fff;    
    }
        
    .menu-icon{ 
        display: block;    
        cursor: pointer;
    } 
    }          
           
    
    
    
    /*---media query for less than 600 screen size---*/ 
    @media only screen and (max-width: 600px) {
        .form{
            text-align: center;
            }
        .row{
            text-align: center;
            }
        .col-2, .col-3, .col-4{ 
            flex-basis: 100%;
            }
        .single-product .row{ 
            text-align: left;
            }
        .single-product .col-2{ 
            padding: 20px 0;
            }
        .single-product h1{ 
            line-height: 26px; 
            font-size: 32px;
            }
        }